* {
  margin: 0;
  padding: 0;
}

.showDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0rem;
  width: 100%;


}
.btn2{
  margin-left: 5rem;
  padding: 0.6rem 1rem;
  background-color: rgb(238, 220, 28);
  border-radius: 50%;
  font-size: large;
  font-family: serif ;
}
.btn2:hover{
  background-color: rgb(246, 138, 99);
  transition: 0.5s ;
}
li{
 list-style: none;
}

.showbg{
  padding: 1rem;

 background-color: rgba(192, 221, 255, 0.777);
  border-radius: 10px;
  box-shadow: 0px 10px 30px 5px rgb(232, 245, 255);
 
}
